/* For Mobile */
@media screen and (max-width: 540px) {
    .gerador {
        text-align: center;
padding: 0px auto;
margin: 0px auto;
        width: 300px;
        height: auto;

    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .gerador {
        text-align: center;
        padding: 0px auto;
        margin: 0px auto;
        width: auto;
        height: 200px;
    }
}


/* For Tablets */
@media screen and (min-width: 800px) and (max-width: 3000px) {

.gerador{
text-align: center;
padding: 0px auto;
margin: 0px auto;
height: 35vh;
  
}
}

.jumbo{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(113,157,255,1) 100%);
}